In [1]:
list1 =[1,8,9,0,10,20,78,8,8,8]
s2 = set(list1)
print(s2)
print(type(s2))

{0, 1, 8, 9, 10, 78, 20}
<class 'set'>

In [2]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [3]:
s1 = {1,2,3,4}
s2 = {5,6,7,8}
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
#union
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
#intersection of union
s1 = {1,2,3,4,4}
s2 = {5,4,7,2}
s1 & s2

{2, 4}

In [7]:
#difference of two sets
s1 - s2

{1, 3}

In [8]:
s2 - s1

{5, 7}

In [9]:
# symmetric difference
s1 = {1,2,3,4}
s2 = {5,6,7,8}
s1.symmetric_difference(s2)
s2.symmetric_difference(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
s1.symmetric_difference(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
s2.issubset(s1)

False

In [12]:
str1 = "Welcome to aiml class"
print(str1)
str2 ="We started with python"
print(str2)
str3 = '''This is an awesome class'''
print(str3)

Welcome to aiml class
We started with python
This is an awesome class

In [13]:
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [14]:
#slicing in strings
print(str1)
str1[5:10]

Welcome to aiml class

'me to'

In [15]:
#use of split()
print(str1)
str1.split()

Welcome to aiml class

['Welcome', 'to', 'aiml', 'class']

In [22]:
#use of join() method
reviews = ["The product is awesome","Great Service"]
joined_string = ';'.join(reviews)
joined_string

'The product is awesome;Great Service'

In [24]:
str5 = " Hello, How are you? "
str5

' Hello, How are you? '

str5.upper()

In [25]:
str5.upper()

' HELLO, HOW ARE YOU? '

In [26]:
str5.lower()

' hello, how are you? '

In [34]:
sales_data={
    "productId":[101,102,103,104,105,106,107,109,110],
    "product Name":["laptop","mouse","desk","webcam"],
    "stockAvailable":[12,33,44,55]
}
for k,v in sales_data.items():
    print(k,set(v))
    print('/n')

productId {101, 102, 103, 104, 105, 106, 107, 109, 110}
/n
product Name {'desk', 'laptop', 'webcam', 'mouse'}
/n
stockAvailable {33, 12, 44, 55}
/n